.htaccess
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/languages/
wp-content/index.php
wp-content/themes/twenty*
wp-content/themes/index.php
sitemap.xml
sitemap.xml.gz
readme.html
liesmich.html
license.txt
index.php